<?xml version="1.0" encoding="GB2312"?>
<plugin version="1.0">
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="true">
<bean id="hznewsModifyBack"
class="com.trs.fz.hznewsModifyBack"
scope="singleton"/>
<bean id="hznewsDelBack"
class="com.trs.fz.hznewsDelBack"
scope="singleton"/>
<!-- extendedclassify END -->
</beans>
</plugin>